Package: com.coolkiddstudios.nineunlockreimagined
Name: nineunlockreimagined
Version: 1.0.0
Architecture: iphoneos-arm64
Description: ios 9 accurate ls
Maintainer: coolkiddstudios
Author: coolkiddstudios
Section: Tweaks
Depends: ellekit, preferenceloader
